0 6,19 * * * python /var/www/104.236.40.7/public_html/nyc/collisions/latest/nyc_open_data_zip_processing.py >/var/log/cronrun1 2>&1
15 3 * * 0 python /var/www/104.236.40.7/public_html/nyc/collisions/nyc_open_data_zip_processing_nonAPI_data.py >/var/log/cronrun2 2>&1
30 6 * * * python /var/www/104.236.40.7/public_html/boston/crime/BostonCrimeProcessing.py >/var/log/cronrun3 2>&1
0 23 * * 6 python /var/www/104.236.40.7/public_html/dallas/crime/dallasProcessing.py >/var/log/cronrun4 2>&1
